<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">
        body {
            font-family:'Helvetica';
            background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
            background-repeat:no-repeat; background-color:#fff;
            color: #000;
            text-align: center;
        }
        td {
            font-weight:bold; vertical-align:top;
            text-align: right;
            font-size: 47px;
            line-height: 70px;
            width: 700px;
        }
        .slide{
            position: absolute;
            top: 200px;
            left: 80px;
            opacity: 0;
            width: 1100px;
        }
        .imgcell {
            text-align: center;
            width:400px;
        }
        .slide img{
            height:500px;
            width:auto;
        }
        #header {
            width: 1280px;
            padding-top: 40px;
            font-family:  'Helvetica', sans-serif;
            text-align: center;
            font-weight: 600;
            font-size: 90px;
            line-height:90px;
            color: #fff;
            text-transform: uppercase;
        }
        .large { font-size: 64px; line-height: 64px; text-align: left; }
        .red   { color: #cf0d2f; }
    </style>

    <div id="header">AUGUST Specials</div>

    <div id="slideswrapper">
        <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">FireFly Sweet Tea</td><td rowspan="5" class="imgcell"><img alt="image 1" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/43572_FireFly_Sweet_Tea.png';" src="43572_FireFly_Sweet_Tea.png" /></td><tr><td>1.75L</td></tr><tr><td>Regular Price 37.95</td></tr><tr><td>Savings 7.00</td></tr><tr><td class="red">Sale Price 30.95</td></tr></tbody></table>
        <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Rain</td><td rowspan="5" class="imgcell"><img alt="image 2" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/44023_Rain.png';" src="44023_Rain.png" /></td><tr><td>1.75L</td></tr><tr><td>Regular Price 29.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 26.95</td></tr></tbody></table>
        <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Deep Eddy Lemon</td><td rowspan="5" class="imgcell"><img alt="image 3" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/44317_Deep_Eddy_Lemon.png';" src="44317_Deep_Eddy_Lemon.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 18.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 15.95</td></tr></tbody></table>
        <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Stolichnaya 80</td><td rowspan="5" class="imgcell"><img alt="image 4" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/46595_Stolichnaya_80.png';" src="46595_Stolichnaya_80.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 21.95</td></tr><tr><td>Savings 4.00</td></tr><tr><td class="red">Sale Price 17.95</td></tr></tbody></table>
        <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Double Cross Vodka(6)</td><td rowspan="5" class="imgcell"><img alt="image 5" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/46898_Double_Cross_Vodka6.png';" src="46898_Double_Cross_Vodka6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 37.95</td></tr><tr><td>Savings 8.00</td></tr><tr><td class="red">Sale Price 29.95</td></tr></tbody></table>
    </div>

    <script type="text/javascript">
        /* Here comes the hot stepper, I'm the lyrical gangster, Excuse me mister officer, Still love you like that! */
        var currSlide = 0;
        var slides = document.getElementsByClassName('slide');
        var numslides = slides.length;
        var itfadesin, itfadesout;
        window.contentType= 'slideshow';

        function opac (direction, v) {
            if (direction == 1) {
                itfadesin.style.opacity = v/10;
            } else if (direction == 0) {
                itfadesout.style.opacity = v/10;
            }
        }

        function fadeIn (obj) {
            itfadesin = obj;
            for (var i=0;i<=10;i++) {
                setTimeout('opac(1, '+i+')', 50*i);
            }
        }

        function fadeOut (obj) {
            var j = 0;
            itfadesout = obj;
            for (var k=10; k >= 0; k--) {
                j++;
                setTimeout('opac(0, '+k+')', 50*j);
            }
        }
        function switcheroo () {console.log("switcheroo called, curr = ", currSlide);
            for ( var x=0; x<numslides; x++ ){
                console.log("x = ", x);
                if (x == currSlide) {
                    fadeIn(slides[x]);
                }
                if (slides[x].style.opacity > 0) {
                    fadeOut(slides[x]);
                }
            }
            currSlide++;
            window.switchSlide = setTimeout('switcheroo()', 5000);
        }
        switcheroo();
    </script><!-- end fix --></div>
