<div id="vi-fix" style="position: relative; top: 0; left: 0;">
<style type="text/css">
    body {font-family:'Helvetica';text-align: center;
        background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
        background-repeat:no-repeat; background-color:#fff;
        color: #000; }
    td {font-weight:bold; vertical-align:top;text-align: right;
        font-size: 47px;line-height: 70px;width: 700px;}
    .slide{position: absolute;top: 200px;left: 80px;}
    .imgcell {text-align: center;width:400px;}
    .slide img{height:500px;width:auto;}
    #header {width: 1280px; padding-top: 40px; text-transform: uppercase;
        font-family:  'Helvetica', sans-serif;text-align: center;
        font-weight: 600;font-size: 90px;line-height:90px;color: #fff; }
    .large { font-size: 64px; line-height: 64px; text-align: left; }
    .red   { color: #cf0d2f; }
</style>
<script>
</script>
<div id="header">AUGUST Specials 3</div>

<div id="slideswrapper">
    <table border="0" class="slide" style="opacity: 0;" width="1100"><tbody><tr><td class="large red">Jim Beam Black</td><td rowspan="5" class="imgcell"><img alt="image 1" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/23060_Jim_Beam_Black.png';" src="23060_Jim_Beam_Black.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 26.95</td></tr><tr><td>Savings 4.00</td></tr><tr><td class="red">Sale Price 22.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;" width="1100"><tbody><tr><td class="large red">Knob Creek</td><td rowspan="5" class="imgcell"><img alt="image 2" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27015_Knob_Creek.png';" src="27015_Knob_Creek.png" /></td><tr><td>1.75L</td></tr><tr><td>Regular Price 71.95</td></tr><tr><td>Savings 7.00</td></tr><tr><td class="red">Sale Price 64.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;" width="1100"><tbody><tr><td class="large red">Bulleit Bourbon</td><td rowspan="5" class="imgcell"><img alt="image 3" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27026_Bulleit_Bourbon.png';" src="27026_Bulleit_Bourbon.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 31.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 28.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;" width="1100"><tbody><tr><td class="large red">Bird Dog Peach Whiskey(6)</td><td rowspan="5" class="imgcell"><img alt="image 4" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27043_Bird_Dog_Peach_Whiskey6.png';" src="27043_Bird_Dog_Peach_Whiskey6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 18.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 15.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;" width="1100"><tbody><tr><td class="large red">Henry McKenna Single Barrel(6)</td><td rowspan="5" class="imgcell"><img alt="image 5" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27115_Henry_McKenna_Single_Barrel6.png';" src="27115_Henry_McKenna_Single_Barrel6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 28.95</td></tr><tr><td>Savings 4.00</td></tr><tr><td class="red">Sale Price 24.95</td></tr></tbody></table>
</div>

<script type="text/javascript">
    console.log("lolwut");
    var slideswrap = document.getElementById('slideswrapper');
    var slides=slideswrap.children;
    var numSlides = slides.length;
    var iMax = numSlides-1;
    var currSlide = 0, lastSlide=-10, FLAG = 1, itfadesin, itfadesout, i, t, u, v;
    /* Here comes the hot stepper, I'm the lyrical gangster, Excuse me mister officer, Still love you like that! */
    window.contentType= 'slideshow';
    function seance(element, start, STOP, duration){
        console.log("+++seance+++");
        var focus = Math.round(duration / 100);
        var psiLevel = 0;
        if (start < STOP){
            for (u=start; u<=STOP; u++){
                (function(){
                    var orb = u;
                    setTimeout(function(){Ghostlier(element,orb)}, psiLevel * focus);
                }());psiLevel++;}
            console.log("fadein");
        } else {
            for (v = start; v >= STOP; v--) {
                (function (){
                    var orb = v;
                    setTimeout(function(){Ghostlier(element,orb)}, psiLevel * focus);
                }());psiLevel++;}
            console.log("fadeout");
        }
        function Ghostlier(ghost, Ghostliness){ghost.style.opacity = Ghostliness / 100;}
    }
    function switcheroo(){
        console.log("switcheroo(1), currSlide ", currSlide);
        itfadesin = slides[currSlide];
        seance(itfadesin, 0, 100, 800);
        if (lastSlide >= 0 ) {
            itfadesout = slides[lastSlide];
            console.log(itfadesout);
            seance(itfadesout, 100, 0, 800);
        }
        lastSlide = currSlide;
        if (currSlide == iMax) {
            currSlide = 0;
            console.log("......currSlide reset......");
        }
        else if (currSlide < iMax) {
            currSlide++;
        }
    }
    console.log("FLAG",FLAG);
    (function exec(){
        console.log("+++executor+++");
        if(FLAG == 1) {
            for (i = 0, t = 800; i <= iMax; i++, t += 2000) {
                console.log("[[[executor]]]");
                setTimeout(switcheroo, t);
            }
        }
        FLAG = 0;
    }());
</script>
</div>