<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {
        font-family:'Helvetica';
        background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
        background-repeat:no-repeat; background-color:#fff;
        color: #000;
        text-align: center;
    }
    td {
        font-weight:bold; vertical-align:top;
        text-align: right;
        font-size: 47px;
        line-height: 70px;
        width: 700px;
    }
    .slide{
        position: absolute;
        top: 200px;
        left: 80px;
        opacity: 0;
        width: 1100px;
    }
    .imgcell {
        text-align: center;
        width:400px;
    }
    .slide img{
        height:500px;
        width:auto;
    }
    #header {
        width: 1280px;
        padding-top: 40px;
        font-family:  'Helvetica', sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 90px;
        line-height:90px;
        color: #fff;
        text-transform: uppercase;
    }
    .large { font-size: 64px; line-height: 64px; text-align: left; }
    .red   { color: #cf0d2f; }
    </style>
    <div id="header">AUGUST Specials</div>

    <div id="slideswrapper">
        <table border="0" class="slide" style="opacity: 0;">
            <tbody>
            <tr>
                <td class="large red">Jim Beam Black</td>
                <td class="imgcell" rowspan="5"><img alt="image 1" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/23060_Jim_Beam_Black.png';" src="23060_Jim_Beam_Black.png" /></td>
            </tr>
            <tr>
                <td>.75L</td>
            </tr>
            <tr>
                <td>Regular Price 26.95</td>
            </tr>
            <tr>
                <td>Savings 4.00</td>
            </tr>
            <tr>
                <td class="red">Sale Price 22.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slide" style="opacity: 0;">
            <tbody>
            <tr>
                <td class="large red">Knob Creek</td>
                <td class="imgcell" rowspan="5"><img alt="image 2" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27015_Knob_Creek.png';" src="27015_Knob_Creek.png" /></td>
            </tr>
            <tr>
                <td>1.75L</td>
            </tr>
            <tr>
                <td>Regular Price 71.95</td>
            </tr>
            <tr>
                <td>Savings 7.00</td>
            </tr>
            <tr>
                <td class="red">Sale Price 64.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slide" style="opacity: 0;">
            <tbody>
            <tr>
                <td class="large red">Bulleit Bourbon</td>
                <td class="imgcell" rowspan="5"><img alt="image 3" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27026_Bulleit_Bourbon.png';" src="27026_Bulleit_Bourbon.png" /></td>
            </tr>
            <tr>
                <td>.75L</td>
            </tr>
            <tr>
                <td>Regular Price 31.95</td>
            </tr>
            <tr>
                <td>Savings 3.00</td>
            </tr>
            <tr>
                <td class="red">Sale Price 28.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slide" style="opacity: 0;">
            <tbody>
            <tr>
                <td class="large red">Bird Dog Peach Whiskey(6)</td>
                <td class="imgcell" rowspan="5"><img alt="image 4" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27043_Bird_Dog_Peach_Whiskey6.png';" src="27043_Bird_Dog_Peach_Whiskey6.png" /></td>
            </tr>
            <tr>
                <td>.75L</td>
            </tr>
            <tr>
                <td>Regular Price 18.95</td>
            </tr>
            <tr>
                <td>Savings 3.00</td>
            </tr>
            <tr>
                <td class="red">Sale Price 15.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slide" style="opacity: 0;">
            <tbody>
            <tr>
                <td class="large red">Henry McKenna Single Barrel(6)</td>
                <td class="imgcell" rowspan="5"><img alt="image 5" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27115_Henry_McKenna_Single_Barrel6.png';" src="27115_Henry_McKenna_Single_Barrel6.png" /></td>
            </tr>
            <tr>
                <td>.75L</td>
            </tr>
            <tr>
                <td>Regular Price 28.95</td>
            </tr>
            <tr>
                <td>Savings 4.00</td>
            </tr>
            <tr>
                <td class="red">Sale Price 24.95</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        /* Here comes the hot stepper, I'm the lyrical gangster, Excuse me mister officer, Still love you like that! */
        window.contentType= 'slideshow';

        var slides = document.getElementsByClassName('slide');
        var numSlides = slides.length;
        var itfadesin, itfadesout, i, j, k, x;

        function opac (direction, v) {
            if (direction == 1) {
                itfadesin.style.opacity = v/10;
            } else if (direction == 0) {
                itfadesout.style.opacity = v/10;
            }
        }

        function fadeIn (obj) {
            itfadesin = obj;
            console.log("in-obj", itfadesin);
            for (i=0;i<=10;i++) {
                setTimeout('opac(1, '+i+')', 50*i);
            }
        }

        function fadeOut (obj) {
            var j = 0;
            if (obj.style.opacity > 0) {
                itfadesout = obj;
                console.log("out-obj", itfadesout);
                for (k = 10; k >= 0; k--) {
                    j++;
                    setTimeout('opac(0, ' + k + ')', 50 * j);
                }
            }
        }
        var slideiMax = numSlides-1;
        window.currSlide = 0;
        console.log("numslides=", numSlides);
        console.log("slideiMax=", slideiMax);
        function switcheroo () {
            console.log("switcheroo called, with currSlide at ", window.currSlide);
            for ( x=0; x<numSlides; x++ ){
                //check all .slide tables, compare against currSlide
                if (slides[x].innerHTML != undefined) {

                    if (x == window.currSlide) {
                        fadeIn(slides[x]);
                    }
                    if (x == (window.currSlide - 1)) {
                        fadeOut(slides[x]);
                    }
                }
            }
            if(window.currSlide == slideiMax){
                console.log("......currSlide reset......");
                window.currSlide=0;
            }
            else if(window.currSlide < slideiMax){
                console.log("currSlide++");
                window.currSlide++;
                window.switchSlide = setTimeout('switcheroo()', 5000);
            }
            console.log(window);
        }
        switcheroo();
    </script><!-- end fix --></div>


OR MAYBE.....(from dev tools)
<script>
    /* Here comes the hot stepper, I'm the lyrical gangster, Excuse me mister officer, Still love you like that! */
    window.contentType= 'slideshow';

    var slides = document.getElementsByClassName('slide');
    var numSlides = slides.length;
    var itfadesin, itfadesout, i, j, k, x;

    function opac (direction, v) {
        if (direction == 1) {
            itfadesin.style.opacity = v/10;
        } else if (direction == 0) {
            itfadesout.style.opacity = v/10;
        }
    }

    function fadeIn (obj) {
        itfadesin = obj;
        console.log("in-obj", itfadesin);
        for (i=0;i<=10;i++) {
            setTimeout('opac(1, '+i+')', 50*i);
        }
    }

    function fadeOut (obj) {
        var j = 0;
        if (obj.style.opacity > 0) {
            itfadesout = obj;
            console.log("out-obj", itfadesout);
            for (k = 10; k >= 0; k--) {
                j++;
                setTimeout('opac(0, ' + k + ')', 50 * j);
            }
        }
    }
    var slideiMax = numSlides-1;
    window.currSlide = 0;
    console.log("numslides=", numSlides);
    console.log("slideiMax=", slideiMax);
    function switcheroo () {
        console.log("switcheroo called, with currSlide at ", window.currSlide);
        for ( x=0; x<numSlides; x++ ){
            //check all .slide tables, compare against currSlide
            if (slides[x].innerHTML != undefined) {

                if (x == window.currSlide) {
                    fadeIn(slides[x]);
                }
                if (x == (window.currSlide - 1)) {
                    fadeOut(slides[x]);
                }
            }
        }
        if(window.currSlide == slideiMax){
            console.log("......currSlide reset......");
            window.currSlide=0;
        }
        else if(window.currSlide < slideiMax){
            console.log("currSlide++");
            window.currSlide++;
            window.switch = setTimeout('switcheroo()', 5000);
        }

    }
    switcheroo();
</script>