<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {
        font-family: 'WhitneyBold','Helvetica';
        background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
        background-repeat:no-repeat; background-color:#fff;
        color: #000;
        text-align: center;
    }
    @font-face {
        font-family: 'WhitneyBook';
        src: url('WhitneyBook.ttf') format('truetype'), url('http://vi-digital.com/lib/fonts/WhitneyBook/WhitneyBook.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'WhitneyBold';
        src: url('WhitneyBold.ttf') format('truetype'), url('http://vi-digital.com/lib/fonts/WitneyBold/WhitneyBold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    td {
        font-size: 47px; font-weight:bold; vertical-align:top;
        text-align: right;
        line-height: 47px;
    }
    table {
        width: 700px;
        height: 500px;
    }
    .center {
        text-align: center;
        width: 600px;
        height: 600px;
        position: absolute;
        top: 200px;
        left: 600px;

    }
    .header {
        font-size: 90px;
        font-family: 'WhitneyBold', 'Helvetica';
        color: #fff;
        padding-bottom: 50px;
        text-transform: uppercase;
        opacity: 1 !important;
        -webkit-opacity: 1 !important;
        -moz-opacity: 1 !important;
        -ms-opacity: 1 !important;
    }
    .large {
        font-size: 64px;
        line-height: 64px;
        text-align: left;
    }
    .red {
        color: #cf0d2f;
    }
    .rotation img,
    .rotation table {
        -webkit-transition: opacity 2s ease;
        -moz-transition: opacity 2s ease;
        -o-transition: opacity 2s ease;
        transition: opacity 2s ease;
    }
    .rotation img {
        position: absolute;
        top: 0;
        opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -webkit-opacity: 0;
        vertical-align: middle;
    }
    #rotator1 {
        overflow-y: scroll;
    }
    .small { font-size: 44px; line-height: 44px;}
    </style>
    <script type="text/javascript">
        /*Alex's Slideshow Template! All you have to do is create the same amount of '.text' elements as their are images and the program will automatically load them in the order the are written. ** For now, if you need a slide to play first, the first time the playlist is run, then make it the second slide and adjust the rest accordingly. Either way the program will loop through all the slides in order (just not the first time around) TODO: Add support for more elements Fix first slide*/
        var slideshows = function(){
            var timeout = {},
                    slides,
                    textPositions = ['0', '100px', '200px', '300px', '400px', '500px', '600px'],
                    mainPosition = '200px';

            function preloadImages(list){
                var loading = list,
                        img,
                        loaded = 0,
                        newimages = [];

                var imageloaded = function(){

                    loaded++;

                    if (loaded == loading.length) {
                        animateSlideshow(0);
                    }
                };

                var imagenotloaded = function(){
                    this.rel['imageerror'] = true;
                    imageloaded.call(this);
                };

                loaded = [];

                for (var i = 0, l = loading.length; i < l; i++) {
                    img = loading[i];
                    newimages[i] = new Image();
                    newimages[i].rel = img;
                    newimages[i].src = img.src;
                    imageloaded();
                }
            }

            var animateSlideshow = function(current) {
                var table = slides.sets[1][current].getElementsByTagName('td');

                for(var y = 0; y < table.length; y++) {
                    table[y].style.transition = 'opacity 2s ease-in';
                    table[y].style.MozTransition = 'opacity 2s ease-in';
                    table[y].style.WebkitTransition = 'opacity 2s ease-in';
                    table[y].style.msTransition = 'opacity 2s ease-in';
                    table[y].style.OTransition = 'opacity 2s ease-in';
                    table[y].style.opacity = '0';
                    table[y].style.MozOpacity = '0';
                    table[y].style.WebkitOpacity = '0';
                    table[y].style.msOpacity = '0';
                    table[y].style.OOpacity = '0';
                }
                slides.sets[0][current].style.opacity = '0';
                slides.sets[0][current].style.MozOpacity = '0';
                slides.sets[0][current].style.WebkitOpacity = '0';
                slides.sets[0][current].style.msOpacity = '0';
                slides.sets[0][current].style.OOpacity = '0';
                slides.sets[1][current].style.opacity = '0';
                slides.sets[1][current].style.MozOpacity = '0';
                slides.sets[1][current].style.WebkitOpacity = '0';
                slides.sets[1][current].style.msOpacity = '0';
                slides.sets[1][current].style.OOpacity = '0';


                current++;
                if (current >= slides.sets[0].length) {
                    current = 0;
                }

                if (slides.sets[0][current].imageerror == true) {
                    animateSlideshow(current);
                    return;
                }

                table = slides.sets[1][current].getElementsByTagName('td');
                slides.sets[1][current].style.top = mainPosition;
                for(var i = 0; i < table.length; i++) {
                    table[i].style.opacity = '1';
                    table[i].style.MozOpacity = '1';
                    table[i].style.WebkitOpacity = '1';
                    table[i].style.msOpacity = '1';
                    table[i].style.OOpacity = '1';
                    table[i].style.transition = 'opacity 2s ease-in';
                    table[i].style.MozTransition = 'opacity 2s ease-in';
                    table[i].style.WebkitTransition = 'opacity 2s ease-in';
                    table[i].style.msTransition = 'opacity 2s ease-in';
                    table[i].style.OTransition = 'opacity 2s ease-in';
                }
                slides.sets[0][current].style.opacity = '1';
                slides.sets[0][current].style.MozOpacity = '1';
                slides.sets[0][current].style.WebkitOpacity = '1';
                slides.sets[0][current].style.msOpacity = '1';
                slides.sets[0][current].style.OOpacity = '1';
                slides.sets[1][current].style.opacity = '1';
                slides.sets[1][current].style.MozOpacity = '1';
                slides.sets[1][current].style.WebkitOpacity = '1';
                slides.sets[1][current].style.msOpacity = '1';
                slides.sets[1][current].style.OOpacity = '1';


                timeout = setTimeout(function(){
                    animateSlideshow(current);
                }, 5000);
            };


            var getContent = function() {
                var list1 = document.images,
                        list2 = document.getElementsByClassName('text'),
                        data = {sets: {}};
                data.sets[0] = list1;
                data.sets[1] = list2;

                return data;
            };

            function initializeSlideshows(){
                document.body.style.display = 'block';
                document.getElementById('rotator1').style.overflowY = 'hidden';
                var tables = document.getElementsByTagName('table');
                for(var t = 0; t < tables.length; t++) {
                    tables[t].style.position = 'absolute';
                    tables[t].style.left = '80px';
                    tables[t].style.top = mainPosition;
                    tables[t].style.transition = 'opacity 2s ease';
                    tables[t].style.MozTransition = 'opacity 2s ease';
                    tables[t].style.WebkitTransition = 'opacity 2s ease';
                    tables[t].style.OTransition = 'opacity 2s ease';
                }
                var tds = document.getElementsByTagName('td');
                for(var x = 0; x < tds.length; x++) {
                    tds[x].style.opacity = '0';
                }
                slides = getContent();

                preloadImages(slides.sets[0]);
            }

            initializeSlideshows();
        };
        document.body.style.display = 'none';
        setTimeout(slideshows, 2000);
    </script>
    <table style="position: absolute; top: 50px !important; left: -220px !important; width: 1280px;">
        <tbody>
        <tr>
            <td class="header">October Specials</td>
        </tr>
        </tbody>
    </table>

    <div class="rotation" id="rotator1">
        <table class="slides text" style="top: 400px">
            <tbody>
            <tr>
                <td class="large red">Jim Beam Single Barrel</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $34.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $31.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 800px">
            <tbody>
            <tr>
                <td class="large red">Knob Creek Single Barrel Reserve</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $45.95</td>
            </tr>
            <tr>
                <td class="small">Savings $5.00</td>
            </tr>
            <tr>
                <td>Sale Price $40.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 1200px">
            <tbody>
            <tr>
                <td class="large red">Four Roses Small Batch</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $29.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $26.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 1600px">
            <tbody>
            <tr>
                <td class="large red">George Dickel Old No. 12</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $23.95</td>
            </tr>
            <tr>
                <td class="small">Savings $4.00</td>
            </tr>
            <tr>
                <td>Sale Price $19.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 2000px">
            <tbody>
            <tr>
                <td class="large red">JP Wiser&#39;s Spiced</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.95</td>
            </tr>
            <tr>
                <td class="small">Savings $5.00</td>
            </tr>
            <tr>
                <td>Sale Price $19.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 2400px">
            <tbody>
            <tr>
                <td class="large red">2 Gingers Irish Whiskey</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $22.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $19.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 2800px">
            <tbody>
            <tr>
                <td class="large red">Pucker Sour Apple Vodka</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $13.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $11.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 3200px">
            <tbody>
            <tr>
                <td class="large red">Skyy Infusions Vanilla Bean</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $16.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $14.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 3600px">
            <tbody>
            <tr>
                <td class="large red">Pinnacle Raspberry</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $12.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $10.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 4000px">
            <tbody>
            <tr>
                <td class="large red">Skinnygirl White Cranberry Cosmo</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $12.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $10.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 4400px">
            <tbody>
            <tr>
                <td class="large red">Cinerator Hot Cinnamon Liqueur</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $15.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $12.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 4800px">
            <tbody>
            <tr>
                <td class="large red">Herradura Silver</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $41.95</td>
            </tr>
            <tr>
                <td class="small">Savings $5.00</td>
            </tr>
            <tr>
                <td>Sale Price $36.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 5200px">
            <tbody>
            <tr>
                <td class="large red">Chambord Royale</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $33.95</td>
            </tr>
            <tr>
                <td class="small">Savings $4.00</td>
            </tr>
            <tr>
                <td class="small">Sale Price $29.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 5600px">
            <tbody>
            <tr>
                <td class="large red">Dr. McGillicuddy&#39;s Apple Pie</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $12.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $10.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 6000px">
            <tbody>
            <tr>
                <td class="large red">Familia Camarena Silver</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $34.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $31.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 6400px">
            <tbody>
            <tr>
                <td class="large red">Lunazul Reposado</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $34.95</td>
            </tr>
            <tr>
                <td class="small">Savings $5.00</td>
            </tr>
            <tr>
                <td>Sale Price $29.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 6800px">
            <tbody>
            <tr>
                <td class="large red">Wild Turkey Rye</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $21.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 7200px">
            <tbody>
            <tr>
                <td class="large red">Ancient Age</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.45</td>
            </tr>
            <tr>
                <td class="small">Savings $2.50</td>
            </tr>
            <tr>
                <td>Sale Price $21.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 7600px">
            <tbody>
            <tr>
                <td class="large red">McClelland&#39;s Highland S. M.</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $21.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 8000px">
            <tbody>
            <tr>
                <td class="large red">Rich &amp; Rare Reserve Canadian</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.95</td>
            </tr>
            <tr>
                <td class="small">Savings $5.00</td>
            </tr>
            <tr>
                <td>Sale Price $19.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 8400px">
            <tbody>
            <tr>
                <td class="large red">Burnett&#39;s White Satin</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $17.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $14.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 8800px">
            <tbody>
            <tr>
                <td class="large red">Rain Organics</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $17.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $14.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 9200px">
            <tbody>
            <tr>
                <td class="large red">Finlandia</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $27.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $24.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 9600px">
            <tbody>
            <tr>
                <td class="large red">Kraken Black Spiced Rum</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $31.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.50</td>
            </tr>
            <tr>
                <td>Sale Price $29.45</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 10000px">
            <tbody>
            <tr>
                <td class="large red">Admiral Nelson&#39;s Spiced Cherry</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $9.95</td>
            </tr>
            <tr>
                <td class="small">Savings $4.00</td>
            </tr>
            <tr>
                <td>Sale Price $5.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 10400px">
            <tbody>
            <tr>
                <td class="large red">Evan Williams Honey Reserve</td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $24.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $21.95</td>
            </tr>
            </tbody>
        </table>

        <table class="slides text" style="top: 10800px">
            <tbody>
            <tr>
                <td class="large red">Feeney&#39;s Irish Cream</td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $10.95</td>
            </tr>
            <tr>
                <td class="small">Savings $2.00</td>
            </tr>
            <tr>
                <td>Sale Price $8.95</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="rotation center" id="rotator2"><img alt="Image 1" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_101.png'" src="abc_oct_101.png" /> <img alt="Image 2" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_102.png'" src="abc_oct_102.png" /> <img alt="Image 3" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_3.png'" src="abc_oct_103.png" /> <img alt="Image 4" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_104.png'" src="abc_oct_104.png" /> <img alt="Image 5" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_105.png'" src="abc_oct_105.png" /> <img alt="Image 6" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_106.png'" src="abc_oct_106.png" /> <img alt="Image 7" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_107.png'" src="abc_oct_107.png" /> <img alt="Image 8" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_108.png'" src="abc_oct_108.png" /> <img alt="Image 9" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_109.png'" src="abc_oct_109.png" /> <img alt="Image 10" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_110.png'" src="abc_oct_110.png" /> <img alt="Image 11" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_111.png'" src="abc_oct_111.png" /> <img alt="Image 12" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_112.png'" src="abc_oct_112.png" /> <img alt="Image 13" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_113.png'" src="abc_oct_113.png" /> <img alt="Image 14" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_114.png'" src="abc_oct_114.png" /> <img alt="Image 15" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_115.png'" src="abc_oct_115.png" /> <img alt="Image 16" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_116.png'" src="abc_oct_116.png" /> <img alt="Image 17" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_117.png'" src="abc_oct_117.png" /> <img alt="Image 18" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_118.png'" src="abc_oct_118.png" /> <img alt="Image 19" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_119.png'" src="abc_oct_119.png" /> <img alt="Image 20" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_120.png'" src="abc_oct_120.png" /> <img alt="Image 21" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_121.png'" src="abc_oct_121.png" /> <img alt="Image 22" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_122.png'" src="abc_oct_122.png" /> <img alt="Image 23" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_123.png'" src="abc_oct_123.png" /> <img alt="Image 24" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_124.png'" src="abc_oct_124.png" /> <img alt="Image 25" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_125.png'" src="abc_oct_125.png" /> <img alt="Image 26" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_126.png'" src="abc_oct_126.png" /> <img alt="Image 27" class="slides" onerror="this.src='http://www.vi-digital.com/lib/abc/ABC-Cherry/abc_oct_127.png'" src="abc_oct_127.png" /></div>
    <!-- end fix --></div>
