
<style type="text/css">html, body {background-color:#000000;border:none;color:#ffffff;overflow:hidden;margin:0; height:100%; width:100%;padding:0;}
</style>
<style type="text/css">body {font-family:'Helvetica';text-align: center;
    background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
    background-repeat:no-repeat; background-color:#fff;
    color: #000; }
td {font-weight:bold; vertical-align:top;text-align: right;
    font-size: 47px;line-height: 70px;width: 700px;}
.slide{position: absolute;top: 200px;left: 80px;}
.imgcell {text-align: center;width:400px;}
.slide img{height:500px;width:auto;}
#header {width: 1280px; padding-top: 40px; text-transform: uppercase;
    font-family:  'Helvetica', sans-serif;text-align: center;
    font-weight: 600;font-size: 90px;line-height:90px;color: #fff; }
.large { font-size: 64px; line-height: 64px; text-align: left; }
.red   { color: #cf0d2f; }
</style>
<div id="header">AUGUST Specials</div>

<div id="rotatoPotato">
    <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Espolon Blanco(6)</td><td rowspan="5" class="imgcell"><img alt="image 1" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/65165_Espolon_Blanco6.png';" src="65165_Espolon_Blanco6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 26.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 23.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Two Fingers Gold</td><td rowspan="5" class="imgcell"><img alt="image 2" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/65349_Two_Fingers_Gold.png';" src="65349_Two_Fingers_Gold.png" /></td><tr><td>1.75L</td></tr><tr><td>Regular Price 25.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 22.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Cabo Wabo Reposado(6)</td><td rowspan="5" class="imgcell"><img alt="image 3" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/65359_Cabo_Wabo_Reposado6.png';" src="65359_Cabo_Wabo_Reposado6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 39.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 36.95</td></tr></tbody></table>
    <table border="0" class="slide" style="opacity: 0;"><tbody><tr><td class="large red">Catdaddy Spiced Moonshine(6)</td><td rowspan="5" class="imgcell"><img alt="image 4" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/66100_Catdaddy_Spiced_Moonshine6.png';" src="66100_Catdaddy_Spiced_Moonshine6.png" /></td><tr><td>.75L</td></tr><tr><td>Regular Price 22.95</td></tr><tr><td>Savings 3.00</td></tr><tr><td class="red">Sale Price 19.95</td></tr></tbody></table>
</div>

