<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {margin:0px; padding:0px; width:100%; height:100%; color:#000; overflow:hidden;}
    #pl-cover {
        background-color: #ffffff;
        color: #000000;
        position:absolute; top:0; left:0;
        font-family: sans-serif;
        text-align: center;
        width:1280px; height:768px;
        z-index:10000;
    }
    </style>
    <div id="pl-cover"><br />
        <br />
        <br />
        <br />
        <br />
        Loading playlist... Please wait.</div>
    <script type="text/javascript">

        // ADJUSTABLE STUFF ================================================================
        var preload       = 100;      /* Let each frame load X/ms onCreate               */
        var fade_speed    = 60;       /* FADE SPEED - 10=fast, 100=slow                  */
        var slides        = 5;        /* Number of frames                                */
        // END ADJUSTABLE STUFF ============================================================

        var plnum = 0;
        var plast = 0;
        var PLtime = new Array(slides);
        var PLcontent = new Array(slides);

        PLtime[0] = 24000; //55844
        PLtime[1] = 3000; //55862
        PLtime[2] = 24000; //55849
        PLtime[3] = 3000; //55865


        PLcontent[0] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%26nbsp%3B%3C%2Fdiv%3E%0A%3Cmeta%20charset%3D%22utf-8%22%20%2F%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%0A%3C%2Fstyle%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7Bfont-family%3A%27Helvetica%27%3Btext-align%3A%20center%3B%0A%20%20%20%20background-image%3A%20url%28%27ABC_Template5.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27%29%3B%0A%20%20%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20%20%20color%3A%20%23000%3B%20%7D%0Atd%20%7Bfont-weight%3Abold%3B%20vertical-align%3Atop%3Btext-align%3A%20right%3B%0A%20%20%20%20font-size%3A%2047px%3Bline-height%3A%2070px%3Bwidth%3A%20700px%3B%7D%0A.slide%7Bposition%3A%20absolute%3Btop%3A%20200px%3Bleft%3A%2080px%3B%7D%0A.imgcell%20%7Btext-align%3A%20center%3Bwidth%3A400px%3B%7D%0A.slide%20img%7Bheight%3A500px%3Bwidth%3Aauto%3B%7D%0A%23header%20%7Bwidth%3A%201280px%3B%20padding-top%3A%2040px%3B%20text-transform%3A%20uppercase%3B%0A%20%20%20%20font-family%3A%20%20%27Helvetica%27%2C%20sans-serif%3Btext-align%3A%20center%3B%0A%20%20%20%20font-weight%3A%20600%3Bfont-size%3A%2090px%3Bline-height%3A90px%3Bcolor%3A%20%23fff%3B%20%7D%0A.large%20%7B%20font-size%3A%2064px%3B%20line-height%3A%2064px%3B%20text-align%3A%20left%3B%20%7D%0A.red%20%20%20%7B%20color%3A%20%23cf0d2f%3B%20%7D%0A%3C%2Fstyle%3E%0A%3Cdiv%20id%3D%22header%22%3EAUGUST%20Specials%3C%2Fdiv%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EJim%20Beam%20Black%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%201%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F23060_Jim_Beam_Black.png%27%3B%22%20src%3D%2223060_Jim_Beam_Black.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2026.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%204.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2022.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EKnob%20Creek%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%202%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F27015_Knob_Creek.png%27%3B%22%20src%3D%2227015_Knob_Creek.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2071.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%207.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2064.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EBulleit%20Bourbon%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%203%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F27026_Bulleit_Bourbon.png%27%3B%22%20src%3D%2227026_Bulleit_Bourbon.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2031.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2028.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EBird%20Dog%20Peach%20Whiskey%286%29%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%204%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F27043_Bird_Dog_Peach_Whiskey6.png%27%3B%22%20src%3D%2227043_Bird_Dog_Peach_Whiskey6.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2018.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2015.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EHenry%20McKenna%20Single%20Barrel%286%29%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%205%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F27115_Henry_McKenna_Single_Barrel6.png%27%3B%22%20src%3D%2227115_Henry_McKenna_Single_Barrel6.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2028.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%204.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2024.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%20%20%2F%2A%20HEY%21%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..%2A%2F%0A%20%20%20%20var%20thisPotato%20%3D%200%3B%0A%20%20%20%20var%20potatoDiv%20%3D%20document.getElementById%28%27rotatoPotato%27%29%3B%0A%20%20%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0A%20%20%20%20window.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20%20%20function%20opac%20%28direction%2C%20v%29%20%7B%0A%20%20%20%20%20%20%20%20if%20%28direction%20%3D%3D%20%22in%22%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20if%20%28direction%20%3D%3D%20%22out%22%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20fadeIn%20%28obj%29%20%7B%0A%20%20%20%20%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20%20%20%20%20for%20%28var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20setTimeout%28%27opac%28%22in%22%2C%20%27%2Bi%2B%27%29%27%2C%2050%2Ai%29%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20fadeOut%20%28obj%29%20%7B%0A%20%20%20%20%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20%20%20%20%20if%20%28obj.style.opacity%20%3E%200%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20for%20%28var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20setTimeout%28%27opac%28%22out%22%2C%20%27%2Bi%2B%27%29%27%2C%2050%2Aj%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20switchPotato%20%28%29%20%7B%0A%20%20%20%20%20%20%20%20for%20%28var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B%29%0A%20%20%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20if%20%28i%20%3D%3D%20thisPotato%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fadeIn%28potatoes%5Bi%5D%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fadeOut%28potatoes%5Bi%5D%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20%20%20%20%20if%20%28thisPotato%20%21%3D%20potatoes.length%29%20window.switchSlide%20%3D%20setTimeout%28function%28%29%7BswitchPotato%28%29%3B%7D%2C%205000%29%3B%0A%20%20%20%20%7D%0A%20%20%20%20switchPotato%28%29%3B%0A%3C%2Fscript%3E%3C%21--%20end%20fix%20--%3E%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[1] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%20background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22BACARDI150THTVSPOT.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FBACARDI150THTVSPOT.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[2] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%26nbsp%3B%3C%2Fdiv%3E%0A%3Cmeta%20charset%3D%22utf-8%22%20%2F%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%0A%3C%2Fstyle%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7Bfont-family%3A%27Helvetica%27%3Btext-align%3A%20center%3B%0A%20%20%20%20background-image%3A%20url%28%27ABC_Template5.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27%29%3B%0A%20%20%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20%20%20color%3A%20%23000%3B%20%7D%0Atd%20%7Bfont-weight%3Abold%3B%20vertical-align%3Atop%3Btext-align%3A%20right%3B%0A%20%20%20%20font-size%3A%2047px%3Bline-height%3A%2070px%3Bwidth%3A%20700px%3B%7D%0A.slide%7Bposition%3A%20absolute%3Btop%3A%20200px%3Bleft%3A%2080px%3B%7D%0A.imgcell%20%7Btext-align%3A%20center%3Bwidth%3A400px%3B%7D%0A.slide%20img%7Bheight%3A500px%3Bwidth%3Aauto%3B%7D%0A%23header%20%7Bwidth%3A%201280px%3B%20padding-top%3A%2040px%3B%20text-transform%3A%20uppercase%3B%0A%20%20%20%20font-family%3A%20%20%27Helvetica%27%2C%20sans-serif%3Btext-align%3A%20center%3B%0A%20%20%20%20font-weight%3A%20600%3Bfont-size%3A%2090px%3Bline-height%3A90px%3Bcolor%3A%20%23fff%3B%20%7D%0A.large%20%7B%20font-size%3A%2064px%3B%20line-height%3A%2064px%3B%20text-align%3A%20left%3B%20%7D%0A.red%20%20%20%7B%20color%3A%20%23cf0d2f%3B%20%7D%0A%3C%2Fstyle%3E%0A%3Cdiv%20id%3D%22header%22%3EAUGUST%20Specials%206%3C%2Fdiv%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EEspolon%20Blanco%286%29%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%201%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F65165_Espolon_Blanco6.png%27%3B%22%20src%3D%2265165_Espolon_Blanco6.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2026.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2023.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ETwo%20Fingers%20Gold%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%202%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F65349_Two_Fingers_Gold.png%27%3B%22%20src%3D%2265349_Two_Fingers_Gold.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2025.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2022.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ECabo%20Wabo%20Reposado%286%29%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%203%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F65359_Cabo_Wabo_Reposado6.png%27%3B%22%20src%3D%2265359_Cabo_Wabo_Reposado6.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2039.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2036.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slide%22%20style%3D%22opacity%3A%200%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ECatdaddy%20Spiced%20Moonshine%286%29%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22imgcell%22%20rowspan%3D%225%22%3E%3Cimg%20alt%3D%22image%204%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2F66100_Catdaddy_Spiced_Moonshine6.png%27%3B%22%20src%3D%2266100_Catdaddy_Spiced_Moonshine6.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ERegular%20Price%2022.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESavings%203.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22red%22%3ESale%20Price%2019.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%20%20%2F%2A%20HEY%21%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..%2A%2F%0A%20%20%20%20var%20thisPotato%20%3D%200%3B%0A%20%20%20%20var%20potatoDiv%20%3D%20document.getElementById%28%27rotatoPotato%27%29%3B%0A%20%20%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0A%20%20%20%20window.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20%20%20function%20opac%20%28direction%2C%20v%29%20%7B%0A%20%20%20%20%20%20%20%20if%20%28direction%20%3D%3D%20%22in%22%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20if%20%28direction%20%3D%3D%20%22out%22%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20fadeIn%20%28obj%29%20%7B%0A%20%20%20%20%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20%20%20%20%20for%20%28var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20setTimeout%28%27opac%28%22in%22%2C%20%27%2Bi%2B%27%29%27%2C%2050%2Ai%29%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20fadeOut%20%28obj%29%20%7B%0A%20%20%20%20%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20%20%20%20%20if%20%28obj.style.opacity%20%3E%200%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20for%20%28var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20setTimeout%28%27opac%28%22out%22%2C%20%27%2Bi%2B%27%29%27%2C%2050%2Aj%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%0A%20%20%20%20function%20switchPotato%20%28%29%20%7B%0A%20%20%20%20%20%20%20%20for%20%28var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B%29%0A%20%20%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20if%20%28i%20%3D%3D%20thisPotato%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fadeIn%28potatoes%5Bi%5D%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fadeOut%28potatoes%5Bi%5D%29%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20%20%20%20%20if%20%28thisPotato%20%21%3D%20potatoes.length%29%20window.switchSlide%20%3D%20setTimeout%28function%28%29%7BswitchPotato%28%29%3B%7D%2C%205000%29%3B%0A%20%20%20%20%7D%0A%20%20%20%20switchPotato%28%29%3B%0A%3C%2Fscript%3E%3C%21--%20end%20fix%20--%3E%3C%21--%20end%20fix%20--%3E%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[3] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_1.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_1.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';


        function wipeFrame (num) {
            var iframe = (document.getElementById('Frame'+num).contentWindow || document.getElementById('Frame'+num).contentDocument);
            if (iframe.window.contentType == 'slideshow') {
                iframe.clearTimeout(iframe.window.switchSlide);
                iframe.document.open();
                iframe.document.write('slideshow');
                iframe.document.close();
            }
        }
        function Opac (opac) {
            if (opac <= 10) {
                document.getElementById('Frame'+plnum).style.opacity = (opac / 10);
                if (opac == 10) {
                    document.getElementById('Frame'+plast).style.opacity = 0;
                }
            }
        }
        function Opac2 (opac) {
            if (opac >= 0) {
                document.getElementById('Frame'+plast).style.opacity = (opac / 10);
                if (opac == 0) {
                    document.getElementById('Frame'+plast).style.opacity = 0;
                }
            }
        }
        function FrameIn () {
            iframe = (document.getElementById('Frame'+plnum).contentWindow || document.getElementById('Frame'+plnum).contentDocument);
            var opac = document.getElementById('Frame'+plnum).style.opacity;
            if (opac < 1) {
                for (var i = 1; i<=10; i++) {
                    setTimeout('Opac('+i+')', fade_speed*i);
                }
            }
            var video =  document.getElementById('Frame'+plnum).contentWindow.document.getElementsByTagName('video');
            if ( video.length > 0 ) {
                video[0].play();
            } else {
                var iframe = document.getElementById('Frame'+plnum);
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(rawurldecode(PLcontent[plnum]));
                iframe.contentWindow.document.close();
            }
        }
        function FrameOut () {
            var opac = document.getElementById('Frame'+plast).style.opacity;
            if (opac > 0) {
                var j=0;
                for (var i = 10; i>=0; i--) {
                    j++;
                    setTimeout('Opac2('+i+')', fade_speed*j);
                }
            }
        }
        function rawurldecode(str) {
            return decodeURIComponent((str + '')
                    .replace(/%(?![\da-f]{2})/gi, function() {
                        return '%25';
                    }));
        }
        function nextPlaylistSlide() {

            for(var i = 0; i <= slides-1; i++){
                if (i != plast) {
                    document.getElementById('Frame'+i).style.opacity = 0;
                } else {
                    document.getElementById('Frame'+i).opacity = 1;
                }
            }

            if (plast+1 == slides) {
                document.getElementById('Frame'+plnum).style.opacity = 1;
                FrameOut();
            } else {
                FrameIn();
            }

            setTimeout(function() {
                plast = plnum;
                plnum++;
                if (plnum > slides-1) plnum=0;

                var iframe = (document.getElementById('Frame'+plnum).contentWindow || document.getElementById('Frame'+plnum).contentDocument);
                if (iframe.document.body.innerHTML == 'slideshow') {
                    iframe.document.open();
                    iframe.document.write(rawurldecode(PLcontent[plnum]));
                    iframe.document.close();
                }

                setTimeout(function () {
                    wipeFrame(plast);
                }, fade_speed*10);
                nextPlaylistSlide();


            }, PLtime[plnum]);
        }

        function cycleFrames () {
            setTimeout('cycleFrames()', 1000);
            for (var i = 0; i <= slides-1; i++) {
                if (i != plnum) {
                    var video, q;
                    if (document.getElementById('Frame'+i).contentWindow) {
                        video = document.getElementById('Frame'+i).contentWindow.document.getElementsByTagName('video');
                    }
                    var vid_len = video.length;

                    if (vid_len > 0) {
                        for(q=0;q<vid_len;q++) {
                            if(video[q].currentTime > 0) {
                                if (video[q].readyState == 4) {
                                    video[q].currentTime = 0; // sets the video to play from beginning
                                    video[q].pause();
                                }
                            }
                        }
                    } /*else {
                     var iframe = document.getElementById('Frame'+i);

                     if (iframe.contentWindow.window.contentType == 'slideshow') {
                     iframe.contentWindow.clearTimeout(iframe.contentWindow.window.switchSlide);
                     }
                     }*/
                }
            }
        }
        function makeFrame (i) {
            var iframe = document.createElement('iframe');
            document.body.appendChild(iframe);
            iframe.transparency   = 'true';
            iframe.style.opacity  = 1;
            iframe.scrolling      = 'no';
            iframe.style.position = 'absolute';
            iframe.style.top      = '0px';
            iframe.style.left     = '0px';
            iframe.style.width    = '1280px';
            iframe.style.height   = '768px';
            iframe.style.border   = '0px';
            iframe.id             = 'Frame'+i;
            iframe.zIndex         = i+1;
            iframe.contentWindow.document.open();
            iframe.contentWindow.document.write(rawurldecode(PLcontent[i]));
            iframe.contentWindow.document.close();
            var video =  iframe.contentWindow.document.getElementsByTagName('video');
            if ( video.length > 0 ) {
                video[0].pause();
            }
            if (iframe.contentWindow.window.contentType == 'slideshow') {
                iframe.contentWindow.clearTimeout(iframe.contentWindow.window.switchSlide);
                if (i != 0) {
                    iframe.contentWindow.document.open();
                    iframe.contentWindow.document.write('slideshow');
                    iframe.contentWindow.document.close();
                }
            }
            if (i == slides-1) {
                document.getElementById('pl-cover').style.display = 'none';
            }
        }
        function setupStage() {
            for (var i = 0; i <= slides-1; i++) {
                setTimeout('makeFrame('+i+')', preload*i);
            }
            setTimeout('nextPlaylistSlide()', slides*(preload+1));
            setTimeout('cycleFrames()', slides*(preload+1));
        }
        setupStage();
    </script><!-- end fix --></div>
